extends layout

block content
  .d-flex.flex-row.justify-content-between
    h1 Welcome Guest!
    div
      a.btn.btn-primary(href='/user/login') Login
      a.btn.btn-light(href='/user/register') Register
  p Login or register to go to your profile page.
